@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap');

:root {
    --cyan: #B8F1F1;
    --lightgrey: #F1F1F1;
}

.no-highlight {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
textarea, input {
    outline: none;
}
::selection {
    background-color: transparent;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--cyan);

    width: 100vw;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}

header {
    /*background-color: var(--cyan);*/
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.header-text-box {
    /*background-color: pink;*/
    color: black;
}

main {
    /*background-color: yellow;*/
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: relative;*/
}

.grid {
    /*background-color: green;*/
    /*border: 5px solid orange;*/
    height: 80%;
    width: 70%;
/*  position: absolute;
    top: 0; left: 0; right: 0; 
    margin: auto;
*/
    display: grid;
    grid-template-columns: repeat(2, 40%);
    align-items: center;
    justify-content: space-evenly;
}

.project-item {
    /*background-color: var(--lightgrey);*/
    /*border: 2px solid black;*/
    border-radius: 10px;
    height: 80%;
    /*width: 100%;*/
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

a {
    /*background-color: red;*/
    content: '';
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    /*display: inherit;*/
    /*opacity: 0;*/
    /*display: none;*/
}

a:focus, a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.img-preview {
    /*background-color: blue;*/
    /*border: 3px dashed black;*/
    height: 40vh;
    width: 40vh;
    border-radius: 10px;
}

#dogiac {
    background: url('img/dogiac.JPG') 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

#calculator {
    background: url('img/calculator.JPG') 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.description-box {
    /*background-color: pink;*/
    /*border: 2px solid black;*/
    max-height: 30%;
    width: 67%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    text-align: center;
    /*overflow: hidden;*/
    /*line-height: 1rem;*/
}


h2 { 
    /*background-color: yellow;*/
    /*display: inline;*/
    /*margin-bottom: 5%;*/
    font-size: 2rem;
}


h3 {
    /*background-color: cyan;*/
    font-size: 1rem;

}

.highlight {
    opacity: 70%;
    transform: scale(1.03);
    transition-duration: 0.4s;
    cursor: pointer;

}

.unhighlight {
    opacity: 100%;
    transform: scale(1);
    transition-duration: 0.4s;
}



